/********** Base styles **********/
* {
    box-sizing: border-box;
}
body { padding-top: 50px; }
a, a:focus, a:hover{outline: 0;}

.navbar-brand h1 { /* Page name */
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list{
    background-color: yellow;
}

.box{
    background-color: green;
    min-height: 1000px;
    padding: auto auto 40px;
    color: white;
}
/********** Large devices only **********/
@media (min-width: 992px) {
    #nav-list{
        display: none;
    }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #nav-list{
        display: none;
    }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
    ul.navbar-nav{
        margin-top: 0;
        margin-bottom: 0;
    }
    ul li a{
        text-align: center;
    }
    ul li{
        border-top:1px solid black;
    }
    ul li:nth-child(1){
        border-top:0;
    }
    #collapsable-nav{
        border: 1px solid black;
    }
}